{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
帮助与支持
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row row-3">
            <!--帮助导航栏-->
            <div class="col-md-3">
                <div class="help-title">帮助与支持</div>
                <div class="help-list">
                    <ul class="list-group">
                        <li class="list-group-item" id="help-intro">
                            <a href="#s1">简介</a>
                        </li>
                        <li class="list-group-item" id="touse">
                            <a href="#s2">如何使用</a>
                        </li>
                        <li class="list-group-item" id="careful">
                            <a href="#s3">注意事项</a>
                        </li>
                        <li class="list-group-item" id="protocol">
                            <a href="#s4">使用协议</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                222
            </div>
        </div>
    </div>
{% endblock %}
