.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

.product-cover {
    width: 100%;
    height: 100%;
}

.category-label-title {
    font-size: 30px;
    color: #000;
    margin: 10px;
    text-decoration: none;
}

.exp-imgs a {
    color: #fff;
    text-decoration: none;
}

.product-box {
    height: 222px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    border: #000 solid 2px;
    margin-top: 30px;
}

.product-box a {
    color: #fff;
    text-decoration: none;
}

span.glyphicon-fire {
    color: red;
    font-size: small;
    margin-left: 50px;
}

h3 {
    line-height: 1.5em;
}

.warn-info {
    margin-top: 60px;
}

.label-service .badge {
    color: #000;
}

.bw-button .btn-primary{
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.bw-button .btn-primary:hover {
    background-color: #fff;
    color: #000;
}

.label-lint {
    background-color: #000;
    top: 4px;
}

#run {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 0px;
    height: 0px;
    border-left: 70px solid transparent;
    border-right: 70px solid #000;
    border-top: 70px solid transparent;
    border-bottom: 70px solid #000;
    color: #fff;
    font-size: larger;
    font-weight: bold;
}

#run>a:hover {
    font-size: larger;
    text-shadow: 5px 5px 5px #e3e3e3;
    transition: all .3s ease-in-out;
}
#check{
    font-size: larger;
    padding-top: 2em;
}
#overView .panel,
#pointDetail .panel,
#pointCurrent .panel{
    text-align: center;
}
.chart-container{
    margin: 0 auto;
}