{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    用户主页
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row row-3">
            <!--用户信息-->
            <div class="col-md-9">
                <div class="user_info thumbnail">
                    <img class="img-responsive" src="{{user_info.headsculpture.url}}">
                    <div class="user-name">ID：{{user_info.username}}</div>
                    <div class="user-email">EMAIL：{{user_info.email}}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}